.NavbarItems {
  background: linear-gradient(90deg, rgb(50, 50, 50) 0%, rgb(24, 24, 24) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo {
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  width: 200px;
}

.navbar-logo a img {
  max-width: 100%;
  max-height: 100%;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin-right: 25px;
}

.nav-links {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  display: block;
}

.nav-links:hover {
  background-color: #0171ba;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.toggle-button {
  position: absolute;
  top: 1.8rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 4px;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 4px;
}

.dropdown:hover .nav-links {
  background-color: #0171ba;
  border-radius: 4px;
}

@media (max-width: 520px) {
  .toggle-button {
    display: flex;
  }

  .nav-links {
    display: none;
    width: 100%;
  }

  .NavbarItems {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-menu {
    width: 100%;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .nav-menu li a {
    text-align: center;
  }

  .nav-links {
    padding: 0.5rem 1rem;
  }

  .nav-links.active {
    display: flex;
  }
}
